$primary:#630963;
$dark:#080108;
$darker:#000;

@import '~bootstrap/scss/bootstrap';
@import "react-multi-carousel/lib/styles.css";

.fa-icon{
  color:white;
  transition: 0.3s;
  &:hover{
  color:#a2c1c9;
  }
}

body{
  background-color: $darker;
}

h2{
  color:white;
}
// saving this gradiant for later
// background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
