@use "./scss/" as *;
@import "pages/Search/Search.scss";

.fa-icon {
  color: $white;
  transition: 0.3s;

  &:hover {
    color: #c1bfc1;
    cursor: pointer;
  }
}

a {
  text-decoration: none !important;

  .hero-button {
    box-shadow: 2px 2px 8px $darker;
    width: 100px;

    @include media-breakpoint-up(md) {
      width: 200px;
    }
  }
}


body {
  background-color: $darker;
}

h2 {
  color: $white;
}
